.navBar {
    .MuiAppBar-colorPrimary {
      color: #fff;
      background-color: #000000 !important;
    }
  
    .MuiToolbar-root {
      height: 100px;
    }
  
    .MuiButtonBase-root {
      padding: 40px;
    }
  
    .MuiButton-label {
      color: rgb(250, 253, 253) !important;
      font-weight: bold !important;
    }
  
    .link {
      text-decoration: none !important;
    }

    img {
        max-width: 120px;
    }
  }
  
  .desktop-link {
    @media (max-width: 1180px) {
      display: none;
    }
  }
  
  .content-nav {
    display: flex !important;
    justify-content: space-between !important;
  }
  